* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  line-height: 1.6;
  font-family: sans-serif;
}

.page {
  display: none;
  width: 100%;
  min-height: 100%;

  padding: 1rem 2rem;
}
.active {
  display: block;
}
#home {
  background-color: hsl(0, 100%, 99%);
  position: fixed;
}
#list {
  background-color: hsl(180, 68%, 67%);
  position: fixed;
}
#detail {
  background-color: hsl(320, 100%, 77%);
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.5s;
  text-decoration: none;
}
.big {
  font-size: 5rem;
  font-weight: 900;
}
img {
  width: 40%;
  height: 40%;
  border: solid black 3px;
}
